# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
.idea/
android/.gradle/
android/app/key.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
web/.dart_tool/

# VS Code
.vscode/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# MacOS
.DS_Store

# Android Studio
.gradle/
local.properties

# Others
*.log
*.lock*
